*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button{
    outline: none;
    border: none;
}
body{
    position: relative;
    font-size: 14px;
    color: white;
    font-family: 'poppins', sans-serif;
    background-image:  linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,0.7)),
    url('/images/NG-en-20230103-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
}


header nav {
    padding: 30px 4%;
}

header nav .navbar-logo img{
    height: 40px;
    cursor: pointer;
}

/* Main styling  */

main {
    min-height: 400px;
    padding: 70px 4%;
    margin-top: 10px;
    text-align: center;
}
main .content-box {
    
    font-size: 1.4rem;
}

main .content-box h3{
    font-size: 2rem;
    line-height: 12px;
}

main .content-box .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


main .content-box .row .col {
    padding: 3rem 1rem;
      /* margin: 2px; */
    min-height: 100px;
}

main .content-box .row .col .img-box{
    width: 150px;
  
}

main .content-box .row .col .img-box p{
    color:   #808080;
}

main .content-box .row .col .img-box img {
    width: 100%;
}

main .content-box .row .col .img-box .add_icon{
    width: 80px;
}

main button.profile-btn{
    width: 150px;
    padding: 10px;
    background-color: transparent;
    color: #808080;
    border:1px solid #808080;
   
}

/* media query */

@media screen and (max-width :768px) {
    body{
        width: 100%;
        height: 100vh;
     
    }

    header nav .navbar-logo img {
            width: 200px;
            height: 80px;
            padding: 16px;
    }

    main .content-box h3 {
        font-size: 2.3em;
        line-height: 40px;
        margin-bottom: 1.9rem;
    }

    main .content-box .img-box p{
        font-size: 30px;
        font-weight: 500;
        padding: .8rem;
    }

    main button.profile-btn{
        padding: 2rem;
        font-size: 2em;
        width: 260px;
    }
}